In [2]:
import pandas as pd

In [5]:
%config Completer.use_jedi = False # For jupyter auto complete and to make hinderland work

In [47]:
df_train = pd.read_csv('/home/akshay/Desktop/Univ.ai/ML2/Project/orange_small_train.data', sep='\t')

In [7]:
df_train.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,1526.0,7.0,NaN,NaN,NaN,...,oslk,fXVEsaq,jySVZNlOJy,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,525.0,0.0,NaN,NaN,NaN,...,oslk,2Kb5FSF,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,5236.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1029.0,7.0,NaN,NaN,NaN,...,oslk,1J2cvxe,LM8l689qOp,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,NaN

In [8]:
test = pd.read_table('/home/akshay/Desktop/Univ.ai/ML2/Project/orange_small_test.data')
test.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,1225.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,P6pu4Vl,LM8l689qOp,NaN,ELof,7P5s,ZI9m,R4y5gQQWY8OodqDV,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,259.0,0.0,NaN,NaN,NaN,...,oslk,S46Rt72,LM8l689qOp,NaN,NaN,Qu4f,RAYp,F2FyR07IdsN7I,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,861.0,14.0,NaN,NaN,NaN,...,oslk,CcdTy9x,LM8l689qOp,NaN,NaN,7aLG,RAYp,F2FyR07IdsN7I,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1568.0,7.0,NaN,NaN,NaN,...,oslk,Q53Rkup,LM8l689qOp,NaN,kG3k,7P5s,RAYp,TCU50_Yjmm6GIBZ0lL_,am7c,NaN
4,NaN,NaN,NaN,NaN,NaN,1197.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,WfsWw2A,LM8l689qOp,NaN,ELof,5Acm,ZI9m,iyHGyLCEkQ,am7c,NaN

In [9]:
appetency =pd.read_table('/home/akshay/Desktop/Univ.ai/ML2/Project/orange_small_train_appetency.labels',header = None).loc[:, 0].astype('category')
appetency.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

In [10]:
upselling= pd.read_table('/home/akshay/Desktop/Univ.ai/ML2/Project/orange_small_train_upselling.labels', header = None).loc[:, 0].astype('category')
upselling.head()

0       -1
1       -1
2       -1
3       -1
4       -1
        ..
49995   -1
49996   -1
49997   -1
49998   -1
49999    1
Name: 0, Length: 50000, dtype: category
Categories (2, int64): [-1, 1]

In [11]:
churn = pd.read_table('/home/akshay/Desktop/Univ.ai/ML2/Project/orange_small_train_churn.labels', header = None).loc[:, 0].astype('category')
churn.head()

0   -1
1    1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

### Preprocessing

In [26]:
from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=10):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='HC' # high cardinality
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return pretty_print(df[cols])
    return pretty_print(df)

In [13]:
df_train.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,1526.0,7.0,NaN,NaN,NaN,...,oslk,fXVEsaq,jySVZNlOJy,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,525.0,0.0,NaN,NaN,NaN,...,oslk,2Kb5FSF,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,5236.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1029.0,7.0,NaN,NaN,NaN,...,oslk,1J2cvxe,LM8l689qOp,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,NaN

In [49]:
pretty_print(df_table[df_table['dtype']== 'object'])

In [48]:
df_table = tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])

pretty_print(df_table)

Table Shape (50000, 230)

In [29]:
df_table['dtype'].value_counts()

float64    191
object      38
int64        1
Name: dtype, dtype: int64

In [41]:
df_float[df_float['nulls'] > 45000 ].shape

(18, 4)

In [43]:
df_object[df_object['nulls'] > 45000 ].shape

(4, 4)

In [37]:
df_float = df_table[df_table['dtype']== 'float64']
df_float.shape

(191, 4)

In [42]:
df_object = df_table[df_table['dtype']== 'object']
df_object.shape

(38, 4)

In [23]:
#Replacing NAN values by mean
df_train = df_train.fillna(df_train.mean())

In [16]:
df_train

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,11.487179,0.004029,425.298387,0.125396,238793.32885,1526.000000,7.000000,NaN,48.145299,392605.656355,...,oslk,fXVEsaq,jySVZNlOJy,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN
1,11.487179,0.004029,425.298387,0.125396,238793.32885,525.000000,0.000000,NaN,48.145299,392605.656355,...,oslk,2Kb5FSF,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,NaN
2,11.487179,0.004029,425.298387,0.125396,238793.32885,5236.000000,7.000000,NaN,48.145299,392605.656355,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,NaN
3,11.487179,0.004029,425.298387,0.125396,238793.32885,1326.437116,0.000000,NaN,48.145299,392605.656355,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN
4,11.487179,0.004029,425.298387,0.125396,238793.32885,1029.000000,7.000000,NaN,48.145299,392605.656355,...,oslk,1J2cvxe,LM8l689qOp,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,11.487179,0.004029,425.298387,0.125396,238793.32885,357.000000,0.000000,NaN,48.145299,392605.656355,...,oslk,EROH7Cg,LM8l689qOp,NaN,NaN,7FJQ,RAYp,F2FyR07IdsN7I,NaN,NaN
49996,11.487179,0.004029,425.298387,0.125396,238793.32885,1078.000000,0.000000,NaN,48.145299,392605.656355,...,oslk,GfSQowC,LM8l689qOp,NaN,kG3k,FSa2,RAYp,55YFVY9,am7c,NaN
49997,11.487179,0.004029,425.298387,0.125396,238793.32885,2807.000000,7.000000,NaN,48.145299,392605.656355,...,oslk,dh6qI2t,LM8l689qOp,NaN,ELof,fKCe,RAYp,TCU50_Yjmm6GIBZ0lL_,NaN,NaN
49998,11.487179,0.004029,425.298387,0.000000,238793.32885,1326.437116,6.809496,NaN,48.145299,392605.656355,...,oslk,2fF2Oqu,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN
49999,11.487179,0.004029,425.298387,0.125396,238793.32885,1694.000000,7.000000,NaN,48.145299,392605.656355,...,oslk,IIvC99a,LM8l689qOp,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN

In [1]:
df_table = tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])
df_table.head()

NameError: name 'tbl_report' is not defined

In [18]:
droplist = []

# dropping columns from 190 - 230 (columns that are object)

for i in range(df_train.shape[1]-40, df_train.shape[1]+1):
    value = 0
    value = 'Var{}'.format(i)
    droplist.append(value)

In [20]:
df_train['Var227'].unique()

array(['RAYp', '02N6s8f', '6fzt', 'ZI9m', 'nIGXDli', 'vJ_w8kB', 'nIGjgSB'],
      dtype=object)

In [22]:
df_train = df_train.drop(droplist,axis=1)
df_train = df_train.fillna(0)

In [23]:
# Table report after dropping columns and filling na with 0
tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])

Table Shape (50000, 189)

In [25]:


#Changing labels to 0 or 1
appetency = (appetency.astype('int') + 1)/2
churn = (churn.astype('int') + 1)/2
upselling = (upselling.astype('int') + 1)/2

In [ ]:
appetency.mean() , churn.mean(), upselling.mean() # Imbalanced data