<a href="https://colab.research.google.com/github/akshaypt7/customer_relationship_prediction/blob/main/KDD_cup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [16]:
df_train = pd.read_csv('/content/drive/MyDrive/KDD_cup/orange_small_train.data', sep='\t')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
df_train.shape

(50000, 230)

In [18]:
df_train.head()

   Var1  Var2  Var3  Var4  Var5  ...  Var226   Var227         Var228  Var229  Var230
0   NaN   NaN   NaN   NaN   NaN  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN     NaN
1   NaN   NaN   NaN   NaN   NaN  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN     NaN
2   NaN   NaN   NaN   NaN   NaN  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c     NaN
3   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN     NaN
4   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86     NaN

[5 rows x 230 columns]

In [19]:
test = pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_test.data')
test.head()

   Var1  Var2  Var3  Var4  ...  Var227               Var228  Var229  Var230
0   NaN   NaN   NaN   NaN  ...    ZI9m     R4y5gQQWY8OodqDV     NaN     NaN
1   NaN   NaN   NaN   NaN  ...    RAYp        F2FyR07IdsN7I     NaN     NaN
2   NaN   NaN   NaN   NaN  ...    RAYp        F2FyR07IdsN7I     NaN     NaN
3   NaN   NaN   NaN   NaN  ...    RAYp  TCU50_Yjmm6GIBZ0lL_    am7c     NaN
4   NaN   NaN   NaN   NaN  ...    ZI9m           iyHGyLCEkQ    am7c     NaN

[5 rows x 230 columns]

In [20]:
appetency =pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_train_appetency.labels',header = None).loc[:, 0].astype('category')
appetency.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

In [21]:
upselling= pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_train_upselling.labels', header = None).loc[:, 0].astype('category')
upselling.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

In [22]:
churn = pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_train_churn.labels', header = None).loc[:, 0].astype('category')
churn.head()

0   -1
1    1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

### Preprocessing

In [41]:
from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=10):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='HC' # high cardinality
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return pretty_print(df[cols])
    return pretty_print(df)

In [26]:
# This returns Dataframe instead of printing

from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=10):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='HC' # high cardinality
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return (df[cols])
    return (df)

In [24]:
df_train.head()

   Var1  Var2  Var3  Var4  Var5  ...  Var226   Var227         Var228  Var229  Var230
0   NaN   NaN   NaN   NaN   NaN  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN     NaN
1   NaN   NaN   NaN   NaN   NaN  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN     NaN
2   NaN   NaN   NaN   NaN   NaN  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c     NaN
3   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN     NaN
4   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86     NaN

[5 rows x 230 columns]

In [42]:
tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])

Table Shape (50000, 230)

In [27]:
df_table = tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts']) # Using the second tbl_report function


df_table['dtype'].value_counts()

Table Shape (50000, 230)

float64    191
object      38
int64        1
Name: dtype, dtype: int64

In [28]:
df_float = df_table[df_table['dtype']== 'float64']
df_float.shape

(191, 4)

In [ ]:
df_float[df_float['nulls'] > 45000 ].shape # we have 18 columns (type:float) that have more 90% nulls

(18, 4)

In [30]:
df_object = df_table[df_table['dtype']== 'object']

df_object[df_object['nulls'] > 45000 ].shape # we have 4 columns (type:object)  that have more 90% nulls

(4, 4)

In [44]:
df_table_2 = df_table.reset_index()
df_table_2.head()

  index    dtype  ...  num_uniques                                 value_counts
0  Var1  float64  ...           19                                           HC
1  Var2  float64  ...            3                   nan:48759\n0.0:1240\n5.0:1
2  Var3  float64  ...          147                                           HC
3  Var4  float64  ...            5  nan:48421\n0.0:1561\n9.0:15\n18.0:2\n27.0:1
4  Var5  float64  ...          572                                           HC

[5 rows x 5 columns]

In [78]:
all_nan_vars = [] # finding all colums with only Nan values
for index, row in df_table_2.iterrows():
  if row['nulls'] == 50000:
    all_nan_vars.append(row['index'])

In [80]:
len(all_nan_vars) # Total no of nan columns

18

In [61]:
lst_empty_vars = []
for index, row in df_table_2.iterrows():
  if row['nulls'] > 47500:
    lst_empty_vars.append(row['index'])

In [62]:
len(lst_empty_vars) # colums with more than 95% nan values

153

In [84]:
df_test = pd.DataFrame(df_train.median().value_counts()).reset_index().sort_values('index', ascending=False)

           index   0
51  8.131560e+06   1
57  2.431310e+06   1
60  1.479810e+06   1
13  1.290246e+06   1
58  8.820000e+05   1
..           ...  ..
6   4.000000e+00   3
43  3.514740e+00   1
3   3.000000e+00   3
2   2.000000e+00   5
0   0.000000e+00  85

[68 rows x 2 columns]

In [83]:
pd.DataFrame(df_train.mean().value_counts()).reset_index().sort_values('index', ascending=False)

            index  0
110  6.181967e+06  1
63   4.064877e+06  1
116  3.776755e+06  1
89   3.531945e+06  1
67   2.579107e+06  1
..            ... ..
119  6.845814e-03  1
158  4.029009e-03  1
112  1.266624e-03  1
122 -5.538803e-01  1
71  -1.532786e+05  1

[174 rows x 2 columns]

In [81]:
pd.DataFrame(df_train.mean().value_counts()).reset_index().sort_index()

            index  0
0    1.668334e-01  1
1    8.460919e+00  1
2    4.145965e+05  1
3    6.114556e-01  1
4    1.490154e+06  1
..            ... ..
169  2.230791e+05  1
170  1.815414e+05  1
171  6.498791e+00  1
172  8.796467e+04  1
173  3.000000e+00  1

[174 rows x 2 columns]

In [75]:
df = pd.DataFrame(df_train.mean().value_counts()).reset_inde
df.sort_index()

               0
-1.532786e+05  1
-5.538803e-01  1
 1.266624e-03  1
 4.029009e-03  1
 6.845814e-03  1
...           ..
 2.579107e+06  1
 3.531945e+06  1
 3.776755e+06  1
 4.064877e+06  1
 6.181967e+06  1

[174 rows x 1 columns]

In [68]:
df_train.median().value_counts()

0.00         85
7.00          6
2.00          5
3.00          3
9.00          3
             ..
197.64        1
341524.00     1
10269.84      1
74884.50      1
22.00         1
Length: 68, dtype: int64

In [ ]:
#Replacing NAN values by mean
df_train_mean = df_train.fillna(df_train.median())

In [65]:
df_train_median

       Var1  Var2  Var3  Var4  ...   Var227               Var228  Var229  Var230
0       NaN   NaN   NaN   NaN  ...     RAYp        F2FyR07IdsN7I     NaN     NaN
1       NaN   NaN   NaN   NaN  ...     RAYp        F2FyR07IdsN7I     NaN     NaN
2       NaN   NaN   NaN   NaN  ...  02N6s8f        ib5G6X1eUxUn6    am7c     NaN
3       NaN   NaN   NaN   NaN  ...     RAYp        F2FyR07IdsN7I     NaN     NaN
4       NaN   NaN   NaN   NaN  ...     RAYp        F2FyR07IdsN7I    mj86     NaN
...     ...   ...   ...   ...  ...      ...                  ...     ...     ...
49995   NaN   NaN   NaN   NaN  ...     RAYp        F2FyR07IdsN7I     NaN     NaN
49996   NaN   NaN   NaN   NaN  ...     RAYp              55YFVY9    am7c     NaN
49997   NaN   NaN   NaN   NaN  ...     RAYp  TCU50_Yjmm6GIBZ0lL_     NaN     NaN
49998   NaN   NaN   NaN   0.0  ...     RAYp        F2FyR07IdsN7I     NaN     NaN
49999   NaN   NaN   NaN   NaN  ...     RAYp        F2FyR07IdsN7I     NaN     NaN

[50000 rows x 230 columns]

In [ ]:
df_table = tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])
df_table.head()

NameError: name 'tbl_report' is not defined

In [ ]:
droplist = []

# dropping columns from 190 - 230 (columns that are object)

for i in range(df_train.shape[1]-40, df_train.shape[1]+1):
    value = 0
    value = 'Var{}'.format(i)
    droplist.append(value)

In [ ]:
df_train['Var227'].unique()

array(['RAYp', '02N6s8f', '6fzt', 'ZI9m', 'nIGXDli', 'vJ_w8kB', 'nIGjgSB'],
      dtype=object)

In [ ]:
df_train = df_train.drop(droplist,axis=1)
df_train = df_train.fillna(0)

In [ ]:
# Table report after dropping columns and filling na with 0
tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])

Table Shape (50000, 189)

In [ ]:


#Changing labels to 0 or 1
appetency = (appetency.astype('int') + 1)/2
churn = (churn.astype('int') + 1)/2
upselling = (upselling.astype('int') + 1)/2

In [ ]:
appetency.mean() , churn.mean(), upselling.mean() # Imbalanced data